<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <title>Collectr</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Capriola" rel="stylesheet">

    <!-- Animate CSS -->
    <link rel="stylesheet" href="../../public/assets/css/animate.css">

    <!-- Custom CSS -->
    <!-- NEED TO UPDATE THIS REFERENCE -->
    <link href="../../public/assets/css/style.css" rel="stylesheet">
</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Shortcuts</a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Menu Buttons -->
        <a href="#menu-toggle" class="menu-btn" id="menu-toggle">
          <div class="menu-btn-div">
            &#9776;
          </div>
        </a>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">

              <!-- Home Page Hero -->
                <div class="row">
                  <div class="col-lg-12 hero-wrapper">
                    <div class="row">
                      <div class="col-lg-12 hero">
                        <h1 class="hero-logo animated fadeInUp">Collectr</h1>
                        <h3 class="animated fadeInUp">
                          Organize, browse, and share your most prized possessions, all in one place.
                        </h3>
                      </div>
                    </div>

                    <div class="row search-wrapper">
                      <div class="col-sm-4">
                         <div class="input-group">
                           <input type="text" class="form-control" placeholder="Search for...">
                           <span class="input-group-btn">
                             <button class="btn btn-default" type="button">Go!</button>
                           </span>
                         </div>
                       </div>
                    </div>
                  </div>
                </div>
                <!-- Home Page Hero -->

                <!-- Main page content -->
                  <div class="row category-gallery-wrapper animated fadeInUp">
                    <div class="category-tab">
                      <h4>Shoes</h4>
                    </div>

                    <div class="gallery-img-div">
                      <a href="#">
                        <div class="item-img-div">
                          <img src="http://www.shoecity.com/26540-home_default/vans-men-sk8-hi-navy-reissue-skate-shoes.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://www.flightclub.com/media/catalog/product/cache/1/image/360x257/9df78eab33525d08d6e5fb8d27136e95/a/d/adidas-yeezy-boost-350-oxford-tan-lgtsto-oxftan-lgtsto-201172_1.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://newsneakernews-wpengine.netdna-ssl.com/wp-content/uploads/2016/11/adidas-tubular-defiant-star-black-grey-1.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://sneakernews.com/wp-content/uploads/2016/11/adidas-tubular-nova-primeknit-maroon-1.jpg" />
                        </div>
                      </a>
                    </div>
                  </div>

                  <div class="row category-gallery-wrapper animated fadeInUp">
                    <div class="category-tab">
                      <h4>Shoes</h4>
                    </div>

                    <div class="gallery-img-div">
                      <a href="#">
                        <div class="item-img-div">
                          <img src="http://www.shoecity.com/26540-home_default/vans-men-sk8-hi-navy-reissue-skate-shoes.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://www.flightclub.com/media/catalog/product/cache/1/image/360x257/9df78eab33525d08d6e5fb8d27136e95/a/d/adidas-yeezy-boost-350-oxford-tan-lgtsto-oxftan-lgtsto-201172_1.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://newsneakernews-wpengine.netdna-ssl.com/wp-content/uploads/2016/11/adidas-tubular-defiant-star-black-grey-1.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://sneakernews.com/wp-content/uploads/2016/11/adidas-tubular-nova-primeknit-maroon-1.jpg" />
                        </div>
                      </a>
                    </div>
                  </div>

                  <div class="row category-gallery-wrapper animated fadeInUp">
                    <div class="category-tab">
                      <h4>Shoes</h4>
                    </div>

                    <div class="gallery-img-div">
                      <a href="#">
                        <div class="item-img-div">
                          <img src="http://www.shoecity.com/26540-home_default/vans-men-sk8-hi-navy-reissue-skate-shoes.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://www.flightclub.com/media/catalog/product/cache/1/image/360x257/9df78eab33525d08d6e5fb8d27136e95/a/d/adidas-yeezy-boost-350-oxford-tan-lgtsto-oxftan-lgtsto-201172_1.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://newsneakernews-wpengine.netdna-ssl.com/wp-content/uploads/2016/11/adidas-tubular-defiant-star-black-grey-1.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://sneakernews.com/wp-content/uploads/2016/11/adidas-tubular-nova-primeknit-maroon-1.jpg" />
                        </div>
                      </a>
                    </div>
                  </div>

                  <div class="row category-gallery-wrapper animated fadeInUp">
                    <div class="category-tab">
                      <h4>Shoes</h4>
                    </div>

                    <div class="gallery-img-div">
                      <a href="#">
                        <div class="item-img-div">
                          <img src="http://www.shoecity.com/26540-home_default/vans-men-sk8-hi-navy-reissue-skate-shoes.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://www.flightclub.com/media/catalog/product/cache/1/image/360x257/9df78eab33525d08d6e5fb8d27136e95/a/d/adidas-yeezy-boost-350-oxford-tan-lgtsto-oxftan-lgtsto-201172_1.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://newsneakernews-wpengine.netdna-ssl.com/wp-content/uploads/2016/11/adidas-tubular-defiant-star-black-grey-1.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://sneakernews.com/wp-content/uploads/2016/11/adidas-tubular-nova-primeknit-maroon-1.jpg" />
                        </div>
                      </a>
                    </div>
                  </div>

                  <div class="row category-gallery-wrapper animated fadeInUp">
                    <div class="category-tab">
                      <h4>Vinyl Records</h4>
                    </div>

                    <div class="gallery-img-div">
                      <a href="#">
                        <div class="item-img-div">
                          <img src="http://www.shoecity.com/26540-home_default/vans-men-sk8-hi-navy-reissue-skate-shoes.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://www.flightclub.com/media/catalog/product/cache/1/image/360x257/9df78eab33525d08d6e5fb8d27136e95/a/d/adidas-yeezy-boost-350-oxford-tan-lgtsto-oxftan-lgtsto-201172_1.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://newsneakernews-wpengine.netdna-ssl.com/wp-content/uploads/2016/11/adidas-tubular-defiant-star-black-grey-1.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://sneakernews.com/wp-content/uploads/2016/11/adidas-tubular-nova-primeknit-maroon-1.jpg" />
                        </div>
                      </a>
                    </div>
                  </div>

            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(event) {
        event.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
