<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- jQuery UI -->
    <script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>

    <title>Collectr</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Capriola" rel="stylesheet">

    <!-- Animate CSS -->
    <link rel="stylesheet" href="../../public/assets/css/animate.css">

    <!-- Custom CSS -->
    <!-- NEED TO UPDATE THIS REFERENCE -->
    <link href="../../public/assets/css/style.css" rel="stylesheet">
</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
          <span id="sidebar-logo">Collectr</span>
            <ul class="sidebar-nav">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Shortcuts</a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Menu Buttons -->
        <a href="#menu-toggle" class="menu-btn" id="menu-toggle">
          <div class="menu-btn-div glyphicon glyphicon-menu-hamburger">
          </div>
        </a>
        <!-- Menu Buttons -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">

              <!-- Home Page Hero -->
                <div class="row">
                  <div class="col-lg-12 hero-wrapper">
                    <div class="row">
                      <div class="col-lg-12 hero">
                        <h1 class="hero-logo animated slideInLeft">Collectr</h1>
                        <h3 class="animated fadeInUp">
                          Organize, browse, and share your most prized possessions, all in one place.
                        </h3>
                      </div>
                    </div>

                    <div class="row search-wrapper">
                      <div class="col-sm-4">
                         <div class="input-group">
                           <input type="text" class="form-control" placeholder="Search for...">
                           <span class="input-group-btn">
                             <button class="btn btn-default" type="button">Go!</button>
                           </span>
                         </div>
                       </div>
                    </div>
                  </div>
                </div>
                <!-- Home Page Hero -->

                <!-- Main page content -->
                <!-- Horizontal galleries -->
                  <div class="row category-gallery-wrapper animated fadeInUp">
                    <div class="category-tab">
                      <h4>Sneakers</h4>
                    </div>

                      <!-- Gallery Horizontal Scroll buttons -->
                      <div class="gallery-scroll-wrapper">
                        <a class="gallery-scroll-btn" id="gallery-scroll-left">
                          <div class="scroll-btn-div">
                            <span class="glyphicon glyphicon-triangle-left" arira-hidden="true"></span>
                          </div>
                        </a>

                        <a class="gallery-scroll-btn" id="gallery-scroll-right">
                          <div class="scroll-btn-div">
                            <span class="glyphicon glyphicon-triangle-right" arira-hidden="true"></span>
                          </div>
                        </a>
                      <!-- Gallery Horizontal Scroll buttons -->
                        <div class="gallery-img-div">
                          <div class="item-img-div">
                            <a href="#">
                              <img src="http://www.shoecity.com/26540-home_default/vans-men-sk8-hi-navy-reissue-skate-shoes.jpg" />
                            </a>
                          </div>

                          <div class="item-img-div">
                            <a href="#">
                              <img src="https://www.flightclub.com/media/catalog/product/cache/1/image/360x257/9df78eab33525d08d6e5fb8d27136e95/a/d/adidas-yeezy-boost-350-oxford-tan-lgtsto-oxftan-lgtsto-201172_1.jpg" />
                            </a>
                          </div>

                          <div class="item-img-div">
                            <a href="#">
                              <img src="https://newsneakernews-wpengine.netdna-ssl.com/wp-content/uploads/2016/11/adidas-tubular-defiant-star-black-grey-1.jpg" />
                            </a>
                          </div>

                          <div class="item-img-div">
                            <a href="#">
                              <img src="https://sneakernews.com/wp-content/uploads/2016/11/adidas-tubular-nova-primeknit-maroon-1.jpg" />
                            </a>
                          </div>

                          <div class="item-img-div">
                            <a href="#">
                              <img src="https://cdn.thisiswhyimbroke.com/images/back-to-the-future-nike-shoes.jpg" />
                            </a>
                          </div>

                          <div class="item-img-div">
                            <a href="#">
                              <img src="https://cdn5.kicksonfire.com/wp-content/uploads/2015/10/adidas-Yeezy-950-Boot-565x372.jpg?x77385" />
                            </a>
                          </div>
                        </div>
                    </div>
                  </div>

                  <div class="row category-gallery-wrapper animated fadeInUp">
                    <div class="category-tab">
                      <h4>Vinyl Records</h4>
                    </div>

                    <div class="gallery-img-div">
                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://s-media-cache-ak0.pinimg.com/736x/c4/8c/dc/c48cdceed00c077603b333c85ea97296.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="http://www.jimflora.com/images/album-covers/vinyl/large/mambo-for-cats.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://s-media-cache-ak0.pinimg.com/originals/9e/3f/a0/9e3fa0e15201068fef769de0ecfa8dfb.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://www.dustygroove.com/images/products/b/beatles~~~~_meetthebe_101b.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://c2.staticflickr.com/8/7373/10594634785_0b67b652ff_b.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://images-na.ssl-images-amazon.com/images/I/81CP1j-zprL._SY355_.jpg" />
                        </div>
                      </a>

                      <!-- Gallery Horizontal Scroll buttons -->
                      <a class="gallery-scroll-btn" id="gallery-scroll-left" href="#">
                        <div class="scroll-btn-div">
                          <span class="glyphicon glyphicon-triangle-left" arira-hidden="true"></span>
                        </div>
                      </a>

                      <a class="gallery-scroll-btn" id="gallery-scroll-right" href="#">
                        <div class="scroll-btn-div">
                          <span class="glyphicon glyphicon-triangle-right" arira-hidden="true"></span>
                        </div>
                      </a>
                      <!-- Gallery Horizontal Scroll buttons -->
                    </div>
                  </div>

                  <div class="row category-gallery-wrapper animated fadeInUp">
                    <div class="category-tab">
                      <h4>Baseball Cards</h4>
                    </div>

                    <div class="gallery-img-div">
                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://s-media-cache-ak0.pinimg.com/736x/ee/10/73/ee10730cf30cf03450d4b76e9ba9e86d.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="http://keymancollectibles.com/baseballcards/images/1969tr1.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="http://cconnect.s3.amazonaws.com/wp-content/uploads/2015/07/1961-Fleer-Baseball-Greats-Babe-Ruth.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="http://www.totalprosports.com/wp-content/uploads/2011/04/o_1985_Roger_Clemens_Rookie.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://70c97aaea282a207d81b-f84eee09323602e80e90b9678fa5fc9b.ssl.cf5.rackcdn.com/wp-content/uploads/legacy_cms_images/5224.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="http://keymancollectibles.com/baseballcards/images/wpe166.jpg" />
                        </div>
                      </a>

                      <!-- Gallery Horizontal Scroll buttons -->
                      <a class="gallery-scroll-btn" id="gallery-scroll-left" href="#">
                        <div class="scroll-btn-div">
                          <span class="glyphicon glyphicon-triangle-left" arira-hidden="true"></span>
                        </div>
                      </a>

                      <a class="gallery-scroll-btn" id="gallery-scroll-right" href="#">
                        <div class="scroll-btn-div">
                          <span class="glyphicon glyphicon-triangle-right" arira-hidden="true"></span>
                        </div>
                      </a>
                      <!-- Gallery Horizontal Scroll buttons -->
                    </div>
                  </div>

                  <!-- Wide feature div-->
                  <a href="#">
                    <div class="row blur-background" id="feature-pokemon">
                      <div class="wide-feature">
                        <h3>Discover:</h3>
                        <h1>Pokemon</h1>
                      </div>
                    </div>
                  </a>

                  <div class="row category-gallery-wrapper animated fadeInUp">
                    <div class="category-tab">
                      <h4>Shoes</h4>
                    </div>

                    <div class="gallery-img-div">
                      <a href="#">
                        <div class="item-img-div">
                          <img src="http://www.shoecity.com/26540-home_default/vans-men-sk8-hi-navy-reissue-skate-shoes.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://www.flightclub.com/media/catalog/product/cache/1/image/360x257/9df78eab33525d08d6e5fb8d27136e95/a/d/adidas-yeezy-boost-350-oxford-tan-lgtsto-oxftan-lgtsto-201172_1.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://newsneakernews-wpengine.netdna-ssl.com/wp-content/uploads/2016/11/adidas-tubular-defiant-star-black-grey-1.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://sneakernews.com/wp-content/uploads/2016/11/adidas-tubular-nova-primeknit-maroon-1.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://cdn.thisiswhyimbroke.com/images/back-to-the-future-nike-shoes.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://cdn5.kicksonfire.com/wp-content/uploads/2015/10/adidas-Yeezy-950-Boot-565x372.jpg?x77385" />
                        </div>
                      </a>

                      <!-- Gallery Horizontal Scroll buttons -->
                      <a class="gallery-scroll-btn" id="gallery-scroll-left" href="#">
                        <div class="scroll-btn-div">
                          <span class="glyphicon glyphicon-triangle-left" arira-hidden="true"></span>
                        </div>
                      </a>

                      <a class="gallery-scroll-btn" id="gallery-scroll-right" href="#">
                        <div class="scroll-btn-div">
                          <span class="glyphicon glyphicon-triangle-right" arira-hidden="true"></span>
                        </div>
                      </a>
                      <!-- Gallery Horizontal Scroll buttons -->
                    </div>
                  </div>

                  <div class="row category-gallery-wrapper animated fadeInUp">
                    <div class="category-tab">
                      <h4>Vinyl Records</h4>
                    </div>

                    <div class="gallery-img-div">
                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://s-media-cache-ak0.pinimg.com/736x/c4/8c/dc/c48cdceed00c077603b333c85ea97296.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="http://www.jimflora.com/images/album-covers/vinyl/large/mambo-for-cats.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://s-media-cache-ak0.pinimg.com/originals/9e/3f/a0/9e3fa0e15201068fef769de0ecfa8dfb.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://www.dustygroove.com/images/products/b/beatles~~~~_meetthebe_101b.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://c2.staticflickr.com/8/7373/10594634785_0b67b652ff_b.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://images-na.ssl-images-amazon.com/images/I/81CP1j-zprL._SY355_.jpg" />
                        </div>
                      </a>

                      <!-- Gallery Horizontal Scroll buttons -->
                      <a class="gallery-scroll-btn" id="gallery-scroll-left" href="#">
                        <div class="scroll-btn-div">
                          <span class="glyphicon glyphicon-triangle-left" arira-hidden="true"></span>
                        </div>
                      </a>

                      <a class="gallery-scroll-btn" id="gallery-scroll-right" href="#">
                        <div class="scroll-btn-div">
                          <span class="glyphicon glyphicon-triangle-right" arira-hidden="true"></span>
                        </div>
                      </a>
                      <!-- Gallery Horizontal Scroll buttons -->
                    </div>
                  </div>

                  <div class="row category-gallery-wrapper animated fadeInUp">
                    <div class="category-tab">
                      <h4>Baseball Cards</h4>
                    </div>

                    <div class="gallery-img-div">
                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://s-media-cache-ak0.pinimg.com/736x/ee/10/73/ee10730cf30cf03450d4b76e9ba9e86d.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="http://keymancollectibles.com/baseballcards/images/1969tr1.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="http://cconnect.s3.amazonaws.com/wp-content/uploads/2015/07/1961-Fleer-Baseball-Greats-Babe-Ruth.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="http://www.totalprosports.com/wp-content/uploads/2011/04/o_1985_Roger_Clemens_Rookie.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://70c97aaea282a207d81b-f84eee09323602e80e90b9678fa5fc9b.ssl.cf5.rackcdn.com/wp-content/uploads/legacy_cms_images/5224.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="http://keymancollectibles.com/baseballcards/images/wpe166.jpg" />
                        </div>
                      </a>

                      <!-- Gallery Horizontal Scroll buttons -->
                      <a class="gallery-scroll-btn" id="gallery-scroll-left" href="#">
                        <div class="scroll-btn-div">
                          <span class="glyphicon glyphicon-triangle-left" arira-hidden="true"></span>
                        </div>
                      </a>

                      <a class="gallery-scroll-btn" id="gallery-scroll-right" href="#">
                        <div class="scroll-btn-div">
                          <span class="glyphicon glyphicon-triangle-right" arira-hidden="true"></span>
                        </div>
                      </a>
                      <!-- Gallery Horizontal Scroll buttons -->
                    </div>
                  </div>

                  <div class="row category-gallery-wrapper animated fadeInUp">
                    <div class="category-tab">
                      <h4>Shoes</h4>
                    </div>

                    <div class="gallery-img-div">
                      <a href="#">
                        <div class="item-img-div">
                          <img src="http://www.shoecity.com/26540-home_default/vans-men-sk8-hi-navy-reissue-skate-shoes.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://www.flightclub.com/media/catalog/product/cache/1/image/360x257/9df78eab33525d08d6e5fb8d27136e95/a/d/adidas-yeezy-boost-350-oxford-tan-lgtsto-oxftan-lgtsto-201172_1.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://newsneakernews-wpengine.netdna-ssl.com/wp-content/uploads/2016/11/adidas-tubular-defiant-star-black-grey-1.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://sneakernews.com/wp-content/uploads/2016/11/adidas-tubular-nova-primeknit-maroon-1.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://cdn.thisiswhyimbroke.com/images/back-to-the-future-nike-shoes.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://cdn5.kicksonfire.com/wp-content/uploads/2015/10/adidas-Yeezy-950-Boot-565x372.jpg?x77385" />
                        </div>
                      </a>

                      <!-- Gallery Horizontal Scroll buttons -->
                      <a class="gallery-scroll-btn" id="gallery-scroll-left" href="#">
                        <div class="scroll-btn-div">
                          <span class="glyphicon glyphicon-triangle-left" arira-hidden="true"></span>
                        </div>
                      </a>

                      <a class="gallery-scroll-btn" id="gallery-scroll-right" href="#">
                        <div class="scroll-btn-div">
                          <span class="glyphicon glyphicon-triangle-right" arira-hidden="true"></span>
                        </div>
                      </a>
                      <!-- Gallery Horizontal Scroll buttons -->
                    </div>
                  </div>

                  <div class="row category-gallery-wrapper animated fadeInUp">
                    <div class="category-tab">
                      <h4>Vinyl Records</h4>
                    </div>

                    <div class="gallery-img-div">
                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://s-media-cache-ak0.pinimg.com/736x/c4/8c/dc/c48cdceed00c077603b333c85ea97296.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="http://www.jimflora.com/images/album-covers/vinyl/large/mambo-for-cats.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://s-media-cache-ak0.pinimg.com/originals/9e/3f/a0/9e3fa0e15201068fef769de0ecfa8dfb.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://www.dustygroove.com/images/products/b/beatles~~~~_meetthebe_101b.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://c2.staticflickr.com/8/7373/10594634785_0b67b652ff_b.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://images-na.ssl-images-amazon.com/images/I/81CP1j-zprL._SY355_.jpg" />
                        </div>
                      </a>

                      <!-- Gallery Horizontal Scroll buttons -->
                      <a class="gallery-scroll-btn" id="gallery-scroll-left" href="#">
                        <div class="scroll-btn-div">
                          <span class="glyphicon glyphicon-triangle-left" arira-hidden="true"></span>
                        </div>
                      </a>

                      <a class="gallery-scroll-btn" id="gallery-scroll-right" href="#">
                        <div class="scroll-btn-div">
                          <span class="glyphicon glyphicon-triangle-right" arira-hidden="true"></span>
                        </div>
                      </a>
                      <!-- Gallery Horizontal Scroll buttons -->
                    </div>
                  </div>

                  <div class="row category-gallery-wrapper animated fadeInUp">
                    <div class="category-tab">
                      <h4>Baseball Cards</h4>
                    </div>

                    <div class="gallery-img-div">
                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://s-media-cache-ak0.pinimg.com/736x/ee/10/73/ee10730cf30cf03450d4b76e9ba9e86d.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="http://keymancollectibles.com/baseballcards/images/1969tr1.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="http://cconnect.s3.amazonaws.com/wp-content/uploads/2015/07/1961-Fleer-Baseball-Greats-Babe-Ruth.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="http://www.totalprosports.com/wp-content/uploads/2011/04/o_1985_Roger_Clemens_Rookie.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://70c97aaea282a207d81b-f84eee09323602e80e90b9678fa5fc9b.ssl.cf5.rackcdn.com/wp-content/uploads/legacy_cms_images/5224.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="http://keymancollectibles.com/baseballcards/images/wpe166.jpg" />
                        </div>
                      </a>

                      <!-- Gallery Horizontal Scroll buttons -->
                      <a class="gallery-scroll-btn" id="gallery-scroll-left" href="#">
                        <div class="scroll-btn-div">
                          <span class="glyphicon glyphicon-triangle-left" arira-hidden="true"></span>
                        </div>
                      </a>

                      <a class="gallery-scroll-btn" id="gallery-scroll-right" href="#">
                        <div class="scroll-btn-div">
                          <span class="glyphicon glyphicon-triangle-right" arira-hidden="true"></span>
                        </div>
                      </a>
                      <!-- Gallery Horizontal Scroll buttons -->
                    </div>
                  </div>

                  <!-- Wide feature div-->
                  <a href="#">
                    <div class="row blur-background" id="feature-classic-cars">
                      <div class="wide-feature">
                        <h3>Discover:</h3>
                        <h1>Classic Cars</h1>
                      </div>
                    </div>
                  </a>

                  <div class="row category-gallery-wrapper animated fadeInUp">
                    <div class="category-tab">
                      <h4>Shoes</h4>
                    </div>

                    <div class="gallery-img-div">
                      <a href="#">
                        <div class="item-img-div">
                          <img src="http://www.shoecity.com/26540-home_default/vans-men-sk8-hi-navy-reissue-skate-shoes.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://www.flightclub.com/media/catalog/product/cache/1/image/360x257/9df78eab33525d08d6e5fb8d27136e95/a/d/adidas-yeezy-boost-350-oxford-tan-lgtsto-oxftan-lgtsto-201172_1.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://newsneakernews-wpengine.netdna-ssl.com/wp-content/uploads/2016/11/adidas-tubular-defiant-star-black-grey-1.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://sneakernews.com/wp-content/uploads/2016/11/adidas-tubular-nova-primeknit-maroon-1.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://cdn.thisiswhyimbroke.com/images/back-to-the-future-nike-shoes.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://cdn5.kicksonfire.com/wp-content/uploads/2015/10/adidas-Yeezy-950-Boot-565x372.jpg?x77385" />
                        </div>
                      </a>

                      <!-- Gallery Horizontal Scroll buttons -->
                      <a class="gallery-scroll-btn" id="gallery-scroll-left" href="#">
                        <div class="scroll-btn-div">
                          <span class="glyphicon glyphicon-triangle-left" arira-hidden="true"></span>
                        </div>
                      </a>

                      <a class="gallery-scroll-btn" id="gallery-scroll-right" href="#">
                        <div class="scroll-btn-div">
                          <span class="glyphicon glyphicon-triangle-right" arira-hidden="true"></span>
                        </div>
                      </a>
                      <!-- Gallery Horizontal Scroll buttons -->
                    </div>
                  </div>

                  <div class="row category-gallery-wrapper animated fadeInUp">
                    <div class="category-tab">
                      <h4>Vinyl Records</h4>
                    </div>

                    <div class="gallery-img-div">
                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://s-media-cache-ak0.pinimg.com/736x/c4/8c/dc/c48cdceed00c077603b333c85ea97296.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="http://www.jimflora.com/images/album-covers/vinyl/large/mambo-for-cats.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://s-media-cache-ak0.pinimg.com/originals/9e/3f/a0/9e3fa0e15201068fef769de0ecfa8dfb.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://www.dustygroove.com/images/products/b/beatles~~~~_meetthebe_101b.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://c2.staticflickr.com/8/7373/10594634785_0b67b652ff_b.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://images-na.ssl-images-amazon.com/images/I/81CP1j-zprL._SY355_.jpg" />
                        </div>
                      </a>

                      <!-- Gallery Horizontal Scroll buttons -->
                      <a class="gallery-scroll-btn" id="gallery-scroll-left" href="#">
                        <div class="scroll-btn-div">
                          <span class="glyphicon glyphicon-triangle-left" arira-hidden="true"></span>
                        </div>
                      </a>

                      <a class="gallery-scroll-btn" id="gallery-scroll-right" href="#">
                        <div class="scroll-btn-div">
                          <span class="glyphicon glyphicon-triangle-right" arira-hidden="true"></span>
                        </div>
                      </a>
                      <!-- Gallery Horizontal Scroll buttons -->
                    </div>
                  </div>

                  <div class="row category-gallery-wrapper animated fadeInUp">
                    <div class="category-tab">
                      <h4>Baseball Cards</h4>
                    </div>

                    <div class="gallery-img-div">
                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://s-media-cache-ak0.pinimg.com/736x/ee/10/73/ee10730cf30cf03450d4b76e9ba9e86d.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="http://keymancollectibles.com/baseballcards/images/1969tr1.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="http://cconnect.s3.amazonaws.com/wp-content/uploads/2015/07/1961-Fleer-Baseball-Greats-Babe-Ruth.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="http://www.totalprosports.com/wp-content/uploads/2011/04/o_1985_Roger_Clemens_Rookie.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="https://70c97aaea282a207d81b-f84eee09323602e80e90b9678fa5fc9b.ssl.cf5.rackcdn.com/wp-content/uploads/legacy_cms_images/5224.jpg" />
                        </div>
                      </a>

                      <a href="#">
                        <div class="item-img-div">
                          <img src="http://keymancollectibles.com/baseballcards/images/wpe166.jpg" />
                        </div>
                      </a>

                      <!-- Gallery Horizontal Scroll buttons -->
                      <a class="gallery-scroll-btn" id="gallery-scroll-left" href="#">
                        <div class="scroll-btn-div">
                          <span class="glyphicon glyphicon-triangle-left" arira-hidden="true"></span>
                        </div>
                      </a>

                      <a class="gallery-scroll-btn" id="gallery-scroll-right" href="#">
                        <div class="scroll-btn-div">
                          <span class="glyphicon glyphicon-triangle-right" arira-hidden="true"></span>
                        </div>
                      </a>
                      <!-- Gallery Horizontal Scroll buttons -->
                    </div>
                  </div>
                <!-- Main page content -->

            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(event) {
        event.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

    $("#gallery-scroll-left").click(function() {
       $(this).siblings('.gallery-img-div').animate( { scrollLeft: '-=500' }, 500, 'easeOutQuad' );
    });
    $("#gallery-scroll-right").click(function() {
       $(this).siblings('.gallery-img-div').animate( { scrollLeft: '+=500' }, 500, 'easeOutQuad' );
    });
    </script>

</body>

</html>
