<div id="wrapper">
    {{> nav }}
    {{> menu-btn }}

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
          {{> hero }}

            <!-- Main page content -->
              <!-- Category wrapped galleries -->
              <div class="row category-gallery-wrapper category-wrapper-with-wrap animated fadeInUp">
                <div class="category-tab">
                  <h4>Sneakers</h4>
                </div>
                    <div class="gallery-img-div category-div">
                      <div class="item-img-div">
                        <a href="#" class="collect-btn-link">
                          <div class="collectr-btn">
                            <img src="/assets/images/collectr-logo.svg" />
                            <span class="collectr-save">save</span>
                          </div>
                        </a>
                        <a href="#">
                          <img src="http://www.shoecity.com/26540-home_default/vans-men-sk8-hi-navy-reissue-skate-shoes.jpg" />
                        </a>
                      </div>

                      <div class="item-img-div">
                        <a href="#" class="collect-btn-link">
                          <div class="collectr-btn">
                            <img src="/assets/images/collectr-logo.svg" />
                            <span class="collectr-save">save</span>
                          </div>
                        </a>
                        <a href="#">
                          <img src="https://www.flightclub.com/media/catalog/product/cache/1/image/360x257/9df78eab33525d08d6e5fb8d27136e95/a/d/adidas-yeezy-boost-350-oxford-tan-lgtsto-oxftan-lgtsto-201172_1.jpg" />
                        </a>
                      </div>

                      <div class="item-img-div">
                        <a href="#" class="collect-btn-link">
                          <div class="collectr-btn">
                            <img src="/assets/images/collectr-logo.svg" />
                            <span class="collectr-save">save</span>
                          </div>
                        </a>
                        <a href="#">
                          <img src="https://newsneakernews-wpengine.netdna-ssl.com/wp-content/uploads/2016/11/adidas-tubular-defiant-star-black-grey-1.jpg" />
                        </a>
                      </div>

                      <div class="item-img-div">
                        <a href="#" class="collect-btn-link">
                          <div class="collectr-btn">
                            <img src="/assets/images/collectr-logo.svg" />
                            <span class="collectr-save">save</span>
                          </div>
                        </a>
                        <a href="#">
                          <img src="https://sneakernews.com/wp-content/uploads/2016/11/adidas-tubular-nova-primeknit-maroon-1.jpg" />
                        </a>
                      </div>

                      <div class="item-img-div">
                        <a href="#" class="collect-btn-link">
                          <div class="collectr-btn">
                            <img src="/assets/images/collectr-logo.svg" />
                            <span class="collectr-save">save</span>
                          </div>
                        </a>
                        <a href="#">
                          <img src="https://cdn.thisiswhyimbroke.com/images/back-to-the-future-nike-shoes.jpg" />
                        </a>
                      </div>

                      <div class="item-img-div">
                        <a href="#" class="collect-btn-link">
                          <div class="collectr-btn">
                            <img src="/assets/images/collectr-logo.svg" />
                            <span class="collectr-save">save</span>
                          </div>
                        </a>
                        <a href="#">
                          <img src="https://cdn5.kicksonfire.com/wp-content/uploads/2015/10/adidas-Yeezy-950-Boot-565x372.jpg?x77385" />
                        </a>
                      </div>

                      <div class="item-img-div">
                        <a href="#" class="collect-btn-link">
                          <div class="collectr-btn">
                            <img src="/assets/images/collectr-logo.svg" />
                            <span class="collectr-save">save</span>
                          </div>
                        </a>
                        <a href="#">
                          <img src="http://www.shoecity.com/26540-home_default/vans-men-sk8-hi-navy-reissue-skate-shoes.jpg" />
                        </a>
                      </div>

                      <div class="item-img-div">
                        <a href="#" class="collect-btn-link">
                          <div class="collectr-btn">
                            <img src="/assets/images/collectr-logo.svg" />
                            <span class="collectr-save">save</span>
                          </div>
                        </a>
                        <a href="#">
                          <img src="https://www.flightclub.com/media/catalog/product/cache/1/image/360x257/9df78eab33525d08d6e5fb8d27136e95/a/d/adidas-yeezy-boost-350-oxford-tan-lgtsto-oxftan-lgtsto-201172_1.jpg" />
                        </a>
                      </div>

                      <div class="item-img-div">
                        <a href="#" class="collect-btn-link">
                          <div class="collectr-btn">
                            <img src="/assets/images/collectr-logo.svg" />
                            <span class="collectr-save">save</span>
                          </div>
                        </a>
                        <a href="#">
                          <img src="https://newsneakernews-wpengine.netdna-ssl.com/wp-content/uploads/2016/11/adidas-tubular-defiant-star-black-grey-1.jpg" />
                        </a>
                      </div>

                      <div class="item-img-div">
                        <a href="#" class="collect-btn-link">
                          <div class="collectr-btn">
                            <img src="/assets/images/collectr-logo.svg" />
                            <span class="collectr-save">save</span>
                          </div>
                        </a>
                        <a href="#">
                          <img src="https://sneakernews.com/wp-content/uploads/2016/11/adidas-tubular-nova-primeknit-maroon-1.jpg" />
                        </a>
                      </div>

                      <div class="item-img-div">
                        <a href="#" class="collect-btn-link">
                          <div class="collectr-btn">
                            <img src="/assets/images/collectr-logo.svg" />
                            <span class="collectr-save">save</span>
                          </div>
                        </a>
                        <a href="#">
                          <img src="https://cdn.thisiswhyimbroke.com/images/back-to-the-future-nike-shoes.jpg" />
                        </a>
                      </div>

                      <div class="item-img-div">
                        <a href="#" class="collect-btn-link">
                          <div class="collectr-btn">
                            <img src="/assets/images/collectr-logo.svg" />
                            <span class="collectr-save">save</span>
                          </div>
                        </a>
                        <a href="#">
                          <img src="https://cdn5.kicksonfire.com/wp-content/uploads/2015/10/adidas-Yeezy-950-Boot-565x372.jpg?x77385" />
                        </a>
                      </div>
                    </div>
                </div>
              <!-- Wide feature div-->
              <a href="#">
                <div class="row blur-background" id="feature-pokemon">
                  <div class="wide-feature">
                    <h3>Discover:</h3>
                    <h1>Pokemon</h1>
                  </div>
                </div>
              </a>
              <!-- Wide feature div-->

            <!-- Main page content -->
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
