<div id="wrapper">
    {{> nav }}
    {{> menu-btn }}

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
          {{> hero }}

            <!-- Main page content -->
            <!-- Horizontal galleries -->
            {{#each category}}
              <div class="row category-gallery-wrapper animated fadeInUp">
                <div class="category-tab">
                  <h4 id={{this.id}}>{{this.name}}</h4>
                </div>
                  
                  <!-- Gallery Horizontal Scroll buttons -->
                  <div class="gallery-scroll-wrapper">
                    <a class="gallery-scroll-btn gallery-scroll-left">
                      <div class="scroll-btn-div">
                        <span class="glyphicon glyphicon-triangle-left" arira-hidden="true"></span>
                      </div>
                    </a>

                    <a class="gallery-scroll-btn gallery-scroll-right">
                      <div class="scroll-btn-div">
                        <span class="glyphicon glyphicon-triangle-right" arira-hidden="true"></span>
                      </div>
                    </a>
                  <!-- Gallery Horizontal Scroll buttons -->
                    <div class="gallery-img-div">
                    {{#each Posts}}
                      <div class="item-img-div">
                        <a href="#" id={{this.id}}>
                          <img src={{this.img_path}} />
                        </a>
                      </div>
                    {{/each}}
                    </div>
                  </div>
                  

              </div>
            {{/each}}
              <!-- Wide feature div-->
              <a href="#">
                <div class="row blur-background" id="feature-pokemon">
                  <div class="wide-feature">
                    <h3>Discover:</h3>
                    <h1>Pokemon</h1>
                  </div>
                </div>
              </a>
              <!-- Wide feature div-->

            <!-- Main page content -->
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
