<!-- Sidebar -->
<div id="sidebar-wrapper">
  <a href="#">
    <span id="sidebar-logo">Collectr</span>
  </a>
  <a href="#">
    <span id="sidebar-user" class="glyphicon glyphicon-user"></span>
  </a>
    <ul class="sidebar-nav">
        <li>
            <a href="#">Dashboard</a>
        </li>
        <li>
            <a href="#">Shortcuts</a>
        </li>
        <li>
            <a href="#">Overview</a>
        </li>
        <li>
            <a href="#">Events</a>
        </li>
        <li>
            <a href="#">About</a>
        </li>
        <li>
            <a href="#">Services</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->
