<!-- Sidebar -->
<div id="sidebar-wrapper">
  <a href="/">
    <span id="sidebar-logo">Collectr</span>
  </a>
  <!--<a href="#">-->
    <!--<span id="sidebar-user" class="glyphicon glyphicon-user" data-toggle="modal" data-target="#logInModal" id="logIn-button"></span>-->
  <!--</a>-->

    <ul class="sidebar-nav">
        <li>
            <a href="/secure/user">Your Collections</a>
        </li>
        <li>
            <a href="#">Groups</a>
        </li>
        <li>
            <a href="#" data-toggle="modal" data-target="#logInModal" id="login">Login or Sign Up</a>
        </li>
        <li>
            <a href="#" id="logout">Logout</a>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->

<!-- Login Modal -->

<div class="modal fade" id="logInModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="userPostClose"><span aria-hidden="true">&times;</span></button>

                        <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#logIn" aria-controls="logIn" role="tab" data-toggle="tab">Log In</a></li>
                        <li role="presentation"><a href="#signUp" aria-controls="signUp" role="tab" data-toggle="tab">Sign Up</a></li>
                    </ul>

                      <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="logIn">
                            <form id="loginForm">
                                <div class="form-group">
                                    <label for="loginEmail">Username</label>
                                    <input type="email" class="form-control" id="loginEmail" placeholder="Email" name="email">
                                </div>
                                <div class="form-group">
                                    <label for="loginPassword">Password</label>
                                    <input type="password" class="form-control" id="loginPassword" placeholder="Password" name="password">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn" id="loginSubmit">Submit</button>
                                </div>
                            </form>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="signUp">

                            <form id="signUpForm">

                                <div class="form-group">
                                    <label for="signUpEmail">Username (required)</label>
                                    <input type="email" class="form-control" id="signUpEmail" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label for="signUpPassword">Password (8-15 Characters) (required)</label>
                                    <input type="password" class="form-control" id="signUpPassword" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <label for="comment">About Me</label>
                                    <textarea class="form-control" rows="2" id="userDescription"></textarea>
                                </div>
                                <div class="form-group checkbox-grid">
                                    <label for="interests">Interests</label><br>
                                           <span class='checkbox'> 
                                                <input type="checkbox" name="interest" value='1'> Stamps
                                           </span>
                                           <span class='checkbox'> 
                                                <input type="checkbox" name="interest" value='2'> Maps
                                           </span>  
                                           <span class='checkbox'> 
                                                <input type="checkbox" name="interest" value='3'> Coins
                                           </span>   
                                            <span class='checkbox'> 
                                                <input type="checkbox" name="interest" value='4'> Books
                                           </span> 
                                           <span class='checkbox'> 
                                                <input type="checkbox" name="interest" value='5'> Cards
                                           </span> 
                                           <span class='checkbox'> 
                                                <input type="checkbox" name="interest" value='6'> Video Games
                                           </span> 
                                           <span class='checkbox'> 
                                                <input type="checkbox" name="interest" value='7'> Action Figures
                                           </span> 
                                           <span class='checkbox'> 
                                                <input type="checkbox" name="interest" value='8'> Board Games
                                           </span> 
                                           <span class='checkbox'> 
                                                <input type="checkbox" name="interest" value='9'> Shoes
                                           </span> 
                                           <span class='checkbox'> 
                                                <input type="checkbox" name="interest" value='10'> Hats
                                           </span> 
                                           <span class='checkbox'> 
                                                <input type="checkbox" name="interest" value='11'> Watches
                                           </span> 
                                           <span class='checkbox'> 
                                                <input type="checkbox" name="interest" value='12'> Bags
                                           </span> 
                                           <span class='checkbox'> 
                                                <input type="checkbox" name="interest" value='13'> Instruments
                                           </span> 
                                           <span class='checkbox'> 
                                                <input type="checkbox" name="interest" value='14'> Recordings
                                           </span> 
                                           <span class='checkbox'> 
                                                <input type="checkbox" name="interest" value='15'> Memorabilia
                                           </span> 
                                           <span class='checkbox'> 
                                                <input type="checkbox" name="interest" value='16'> Audio Gear
                                           </span>                                                                         
                                </div>
                                <div class="form-group">
                                    <br>
                                    <label for="profilePicture">Profile Picture (required)</label>
                                    <input type="file" id="imageUpload"><br>
                                    <img id="newUserImage" src="" height="200" alt="Image preview..." name="profpic">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal" id="userModalCloseBtn">Close</button>
                                    <button type="submit" class="btn" id="signUpSubmit">Submit</button>
                                </div>

                            </form>
                        </div>            
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- /Login Modal -->
